.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.featureImg {
  width: 220px;      /* antes estava 120px */
  height: 220px;     /* ajuste proporcional */
  object-fit: contain;
  margin-bottom: 20px;
}
